<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NovAtelLogReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NovAtelLogReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <NovAtelLogReader.Properties.Settings>
            <setting name="ComPortSpeed" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="TextFilePath" serializeAs="String">
                <value>E:\Source\range.txt</value>
            </setting>
            <setting name="RabbitConnectionString" serializeAs="String">
                <value>amqp://uniframe:uniframe@172.20.12.50:5672/</value>
            </setting>
            <setting name="KafkaBrokers" serializeAs="String">
                <value>ion-node-01</value>
            </setting>
            <setting name="PublishRate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ComPortName" serializeAs="String">
                <value>COM2</value>
            </setting>
        </NovAtelLogReader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <NovAtelLogReader.Properties.Settings>
      <setting name="Publisher" serializeAs="String">
        <value>NovAtelLogReader.Publishers.KafkaPublisher</value>
      </setting>
      <setting name="Reader" serializeAs="String">
        <value>NovAtelLogReader.Readers.ComPortReader</value>
      </setting>
      <setting name="Format" serializeAs="String">
        <value>NovAtelLogReader.LogRecordFormats.BinaryLogRecordFormat</value>
      </setting>
    </NovAtelLogReader.Properties.Settings>
  </applicationSettings>
</configuration>
