<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NovAtelLogReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <NovAtelLogReader.Properties.Settings>
            <setting name="SerialPort" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="PathForReading" serializeAs="String">
                <value>C:\Users\tersarkisov\Desktop\range.txt</value>
            </setting>
            <setting name="RabbitConnectionString" serializeAs="String">
                <value>amqp://uniframe:uniframe@172.20.5.28:5672/</value>
            </setting>
            <setting name="QueueName" serializeAs="String">
                <value>datapoint-raw</value>
            </setting>
            <setting name="PublishRate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SerialPortSpeed" serializeAs="String">
                <value>115200</value>
            </setting>
        </NovAtelLogReader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
