<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NovAtelLogReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NovAtelLogReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <NovAtelLogReader.Properties.Settings>
            <setting name="ComPortSpeed" serializeAs="String">
                <!-- <value>115200</value> -->
                <value>115200</value>
            </setting>
            <setting name="TextFilePath" serializeAs="String">
                <value>E:\Source\range.txt</value>
            </setting>
            <setting name="RabbitConnectionString" serializeAs="String">
                <value>amqp://uniframe:uniframe@172.20.12.50:5672/</value>
            </setting>
            <setting name="KafkaBrokers" serializeAs="String">
              <!-- <value>ion-node-01</value> -->
              <value>localhost</value>
            </setting>
            <setting name="PublishRate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ComPortName" serializeAs="String">
                <value>/dev/ttyS0</value>
            </setting>
            <setting name="InitCommands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>UNLOGALL TRUE</string>

                        <!-- Cut-off less 30 degree values -->
                        <string>ELEVATIONCUTOFF ALL 30.0</string>

                        <!-- Disable unsupported systems -->
                        <string>LOCKOUTSYSTEM SBAS</string>
                        <string>LOCKOUTSYSTEM GALILEO</string>
                        <string>LOCKOUTSYSTEM QZSS</string>

                        <!-- Disable unsupported sygnals -->
                        <string>ISMSIGNALCONTROL GPSL1CA enable enable</string>
                        <string>ISMSIGNALCONTROL GPSL2Y disable disable</string>
                        <string>ISMSIGNALCONTROL GPSL2C enable enable</string>
                        <string>ISMSIGNALCONTROL GPSL2P enable enable</string>
                        <string>ISMSIGNALCONTROL GPSL5 disable disable</string>
                        <string>ISMSIGNALCONTROL GLOL1CA enable enable</string>
                        <string>ISMSIGNALCONTROL GLOL2CA enable enable</string>
                        <string>ISMSIGNALCONTROL GLOL2P enable enable</string>
                        <string>ISMSIGNALCONTROL SBASL1 disable disable</string>
                        <string>ISMSIGNALCONTROL SBASL5 disable disable</string>
                        <string>ISMSIGNALCONTROL GALE1 disable disable</string>
                        <string>ISMSIGNALCONTROL GALE5A disable disable</string>
                        <string>ISMSIGNALCONTROL GALE5B disable disable</string>
                        <string>ISMSIGNALCONTROL GALALTBOC disable disable</string>
                        <string>ISMSIGNALCONTROL QZSSL1CA disable disable</string>
                        <string>ISMSIGNALCONTROL QZSSL2C disable disable</string>
                        <string>ISMSIGNALCONTROL QZSSL5 disable disable</string>

                        <!-- Enable SDCB & RDCB -->
                        <string>DIFFCODEBIASCONTROLA ENABLE</string>

                        <!-- <string>CNOUPDATE 20HZ</string> -->
                        <!-- <string>DIFFCODEBIASCONTROL DISABLE</string> -->
                        <!-- <string>EXTERNALCLOCK DISABLE</string> -->
                        <!-- <string>RTKDYNAMICS STATIC</string> -->
                        <!-- <string>SETIONOTYPE L1L2</string> -->
                        <!-- <string>ISMBANDWIDTH 1.0 0.0</string> -->
                        <!-- <string>ISMSIGNALCONTROL GPSL2P ENABLE ENABLE</string> -->
                        <!-- <string>LOG PSRPOSB ONTIME 1</string> -->
                        <string>LOG RANGEB ONTIME 0.02</string>
                        <string>LOG ISMRAWTECB ONNEW</string>
                        <string>LOG ISMDETOBSB ONNEW</string>
                        <string>LOG ISMREDOBSB ONNEW</string>
                        <string>LOG SATXYZ2B ONTIME 10</string>
                    </ArrayOfString>
                </value>
            </setting>
        </NovAtelLogReader.Properties.Settings>
    </userSettings>
  <applicationSettings>
    <NovAtelLogReader.Properties.Settings>
      <setting name="Publisher" serializeAs="String">
        <value>NovAtelLogReader.Publishers.KafkaPublisher</value>
      </setting>
      <setting name="Reader" serializeAs="String">
        <value>NovAtelLogReader.Readers.ComPortReader</value>
      </setting>
      <setting name="Format" serializeAs="String">
        <value>NovAtelLogReader.LogRecordFormats.BinaryLogRecordFormat</value>
      </setting>
    </NovAtelLogReader.Properties.Settings>
  </applicationSettings>
</configuration>
