<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="log2Console"
            xsi:type="Chainsaw"
            layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.fff}|${callsite:className=true:fileName=false:includeSourcePath=true:methodName=true}|${level}|${message}"
            address="udp://127.0.0.1:7071" />
    <target name="logfile"
            xsi:type="File"
            fileName="${date:format=yyyy-MM-dd}.log"
            layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] |${threadid}| ${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true} ${message} ${exception:format=ToString,StackTrace}"
            encoding="UTF-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="log2Console" />
  </rules>
</nlog>